.myclass
{
    color: black;
    background-color: #d46a7e;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.myclass2
{
    font-size: 24px;
}

#two
{
    color: #0000FF;
    font-size: 36px;
}

#four
{
    font-size: 24px;
    font-weight: bold;
    background-color: #2afa00;
}


