body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 8px auto;
  border:8px solid white;
}

.title {
  background: #e3f4ff;
  margin: auto;
  padding: 8px;
  font-size: 18px;
  font-weight: 1000;
}

.content {
  background: #e3f4ff;
  margin: 8px auto;
  padding: 8px;
}

.button-container {
  text-align: center;
  background: #e3f4ff;
  padding:8px;
}

button {
  background: white;
  display: block;
  border: 1px solid #eee;
  margin: auto;
  padding: 8px 24px;
}